{{ template "admin.header" .}}


<div class="main-box">
    <div class="left-box">
        {{ template "admin.left_menu" "article-list"}}
    </div>
    <div class="right-box">

        {{ $breadcrumb :=  Breadcrumb "文章" "文章列表"}}
        {{ template "admin.breadcrumb" $breadcrumb}}

        {{ template "admin.message" .}}

        <div class="ui container">
            <table class="ui striped celled table">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>分类</th>
                        <th>标签</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Articles}}
                        <tr>
                            <td>{{.Title}}</td>
                            <td>{{.Category.Title}}</td>
                            <td>{{.Tag}}</td>
                            <td>
                                <a class="ui primary button" href="/admin/article/{{.Id}}/edit">编辑</a>
                                <button class="ui red button" onclick="deleteItem({{ .Id }}, {{ .Title }})">删除</button>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    function deleteItem(id, title){
        $.ajax( {
            type : "DELETE",
            url : "/admin/article/" + id,
            dataType:'json',
            success : function(res) {
                if(res.success){
                    successMessage("删除文章[ " + title + " ]成功")
                    setTimeout(function()
                    {
                        location.reload()
                    }, 1000)

                }else{
                    errorMessage("删除文章[ " + title + " ]失败")
                }
            }
        })
    }
</script>

{{ template "admin.footer" .}}
