
{{define "home.header"}}
    <title>{{ .Article.Category.Title }}-{{ .Article.Title }}-{{ Blog.Name }}</title>
    <meta name="description" content="本博客专注于PHP,PYTHON,GOLANG,MYSQL,CSS,JAVASCRIPT等相关领域的分享学习，欢迎一起学习讨论，共同进步。">
    <meta name="keywords" content="{{ .Article.Tag}}">
    <link rel="stylesheet" href="/public/editor.md-master/examples/css/style.css" />
    <link rel="stylesheet" href="/public/editor.md-master/css/editormd.css" />
{{end}}

{{define "home.main"}}
    <div class="infosbox">
        <div class="newsview">
            <h3 class="news_title">{{ .Article.Title }}</h3>
            <div class="bloginfo">
                <ul>
                    <li class="author">作者：{{ Blog.Username }}</li>
                    <li class="lmname">分类：{{ .Article.Category.Title }}</li>
                    <li class="timer">时间：{{ DateTime .Article.CreatedAt "2006-01-02 15:04:05"}}</li>
                    <li class="view">阅读：{{ .Article.View }}</li>
                </ul>
            </div>
            <div class="news_con" id="markdown_content">
                <textarea style="display:none;" name="markdown_content-markdown-doc">{{ .Article.Content }}</textarea>
            </div>
            <div class="tags">标签：{{ .Article.Tag }}</div>
        </div>
        <div class="nextinfo">
            {{ if .PreArticle.Id }}
                <p>上一篇：<a href="/article/{{ .PreArticle.Id }}">{{ .PreArticle.Title }}</a></p>
            {{ else }}
                <p>上一篇：<a href="#">没有上一篇了</a></p>
            {{ end }}
            {{ if .NextArticle.Id }}
                <p>下一篇：<a href="/article/{{ .NextArticle.Id }}">{{ .NextArticle.Title }}</a></p>
            {{ else }}
                <p>下一篇：<a href="#">没有下一篇了</a></p>
            {{ end }}
        </div>
    </div>

    <script src="/public/editor.md-master/lib/marked.min.js"></script>
    <script src="/public/editor.md-master/lib/prettify.min.js"></script>
    <script src="/public/editor.md-master/lib/raphael.min.js"></script>
    <script src="/public/editor.md-master/lib/underscore.min.js"></script>
    <script src="/public/editor.md-master/lib/sequence-diagram.min.js"></script>
    <script src="/public/editor.md-master/lib/flowchart.min.js"></script>
    <script src="/public/editor.md-master/lib/jquery.flowchart.min.js"></script>
    <script src="/public/editor.md-master/editormd.js"></script>

    <script type="text/javascript">

        var zEditor;
        $(function() {
            zEditor = editormd.markdownToHTML("markdown_content", {
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                codeFold: true,
            });
        });

    </script>
{{end}}


