
{{ template "layout.home" .}}


{{define "home.main"}}
<div class="ui center aligned main-container">
    <div class="ui grid main-box">
        <div class="eleven wide column left-main">
            <div class="bloglist">
                <h2><a href="/rs/1041.html" title="<font color='1FADFF'>快乐的人生，少一分在意，多一份宽恕</font>"><font color="1FADFF">快乐的人生，少一分在意，多一份宽恕</font></a></h2>
                <p>生活中，每个人都有自己在意的东西，或大或小，或人或物，亦或一些事情。记忆，是每个人与生俱来的本能，美好会记着，不好的更会记得。所以，很多人觉得自己不快乐，是因为</p>
            </div>
            <div class="bloglist">
                <h2><a href="/rs/1041.html" title="<font color='1FADFF'>快乐的人生，少一分在意，多一份宽恕</font>"><font color="1FADFF">快乐的人生，少一分在意，多一份宽恕</font></a></h2>
                <p>生活中，每个人都有自己在意的东西，或大或小，或人或物，亦或一些事情。记忆，是每个人与生俱来的本能，美好会记着，不好的更会记得。所以，很多人觉得自己不快乐，是因为</p>
            </div>
            <div class="bloglist">
                <h2><a href="/rs/1041.html" title="<font color='1FADFF'>快乐的人生，少一分在意，多一份宽恕</font>"><font color="1FADFF">快乐的人生，少一分在意，多一份宽恕</font></a></h2>
                <p>生活中，每个人都有自己在意的东西，或大或小，或人或物，亦或一些事情。记忆，是每个人与生俱来的本能，美好会记着，不好的更会记得。所以，很多人觉得自己不快乐，是因为</p>
            </div>
            <div class="bloglist">
                <h2><a href="/rs/1041.html" title="<font color='1FADFF'>快乐的人生，少一分在意，多一份宽恕</font>"><font color="1FADFF">快乐的人生，少一分在意，多一份宽恕</font></a></h2>
                <p>生活中，每个人都有自己在意的东西，或大或小，或人或物，亦或一些事情。记忆，是每个人与生俱来的本能，美好会记着，不好的更会记得。所以，很多人觉得自己不快乐，是因为</p>
            </div>
        </div>

        <div class="five wide column right-main">
            <div class="right-list-box">
                <h3 class="ui horizontal divider header">
                    <i class="list icon"></i>
                    文章分类
                </h3>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large motorcycle middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large motorcycle middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large motorcycle middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-list-box">
                <h3 class="ui horizontal divider header">
                    <i class="list ol icon"></i>
                    阅读排行
                </h3>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large bicycle middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large bicycle middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large bicycle middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-list-box">
                <h3 class="ui horizontal divider header">
                    <i class="share alternate icon"></i>
                    友情链接
                </h3>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large fighter jet middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large fighter jet right middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large fighter jet middle aligned icon"></i>
                        <div class="content">
                            <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{{end}}