{{ template "home.header" .}}

<div class="main-container">
    <div class="ui grid main-box">
        <div class="thirteen wide column left-main">
            {{if .Category }}
                <div class="bloglist">
                   <h2>随笔分类 - {{ .Category.Title }}</h2>
                </div>
            {{end}}
            {{range .Articles}}
                <div class="bloglist">
                    <h2><a href="/article/{{ .Id }}" title="<font color='1FADFF'>{{ .Title }}</font>"><font color="1FADFF">{{ .Title }}</font></a></h2>
                    <p>{{ SubString .Content 100 }}</p>
                </div>
            {{end}}
        </div>

        <div class="three wide column right-main">
            {{ template "home.right_list_box" .}}
        </div>

    </div>
</div>

{{ template "home.footer" .}}
