{{define "home.right_list_box"}}

<div class="right-list-box">
    <h3 class="ui horizontal divider header">
        <i class="list icon"></i>
        文章分类
    </h3>
    <div class="ui relaxed divided list">
        {{ range Categories}}
        <div class="item">
            <i class="large motorcycle middle aligned icon"></i>
            <div class="content">
                <a class="header" href="/category/{{ .Id }}">{{ .Title }}</a>
            </div>
        </div>
        {{end}}
    </div>
</div>

<div class="right-list-box">
    <h3 class="ui horizontal divider header">
        <i class="list ol icon"></i>
        阅读排行
    </h3>
    <div class="ui relaxed divided list">
        {{ range TopArticles}}
            <div class="item">
                <i class="large bicycle middle aligned icon"></i>
                <div class="content">
                    <a class="header" href="/article/{{ .Id}}">{{ .Title }}</a>
                </div>
            </div>
        {{ end }}
    </div>
</div>

<div class="right-list-box">
    <h3 class="ui horizontal divider header">
        <i class="share alternate icon"></i>
        友情链接
    </h3>
    <div class="ui relaxed divided list">
        {{ range Links}}
            <div class="item">
                <i class="large fighter jet middle aligned icon"></i>
                <div class="content">
                    <a class="header" href="{{ .Url }}">{{ .Title }}</a>
                </div>
            </div>
        {{ end }}
    </div>
</div>

{{end}}